@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>COMP2007 Final Exam F2017</h1>
    <p class="lead">This exam counts for 25% of the final grade in COMP2007.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Divisions</h2>
        <p>
            View the list of Divisions in the National Hockey League.
        </p>
        <p><a class="btn btn-primary" href="/divisions">Go &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Teams</h2>
        <p>
            View the list of Teams in the National Hockey League.
        </p>
        <p><a class="btn btn-primary" href="/teams">Go &raquo;</a></p>
    </div>

</div>